n8n/n8n-workflow-seguimientos.json
{
  "name": "RentaCar CRM - Seguimientos automáticos",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }] }
      },
      "id": "s1a2b3c4-0002-0002-0002-000000000001",
      "name": "Todos los días 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://rentacar-crm.vercel.app/api/webhooks/seguimientos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "x-ingest-secret", "value": "523c0b36e3ba4e19c7dbf73de8aab80fcdb5bcbb48422977" }]
        },
        "options": {}
      },
      "id": "s1a2b3c4-0002-0002-0002-000000000002",
      "name": "Consultar seguimientos pendientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "s1a2b3c4-0002-0002-0002-000000000003",
      "name": "Separar uno por uno",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.clienteEmail }}",
        "subject": "Seguimiento de tu cotización — RentaCar",
        "message": "={{ $json.mensaje }}",
        "options": {}
      },
      "id": "s1a2b3c4-0002-0002-0002-000000000004",
      "name": "Enviar seguimiento",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [960, 300],
      "credentials": { "gmailOAuth2": { "id": "", "name": "Gmail account" } }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$('Separar uno por uno').item.json } }];"
      },
      "id": "s1a2b3c4-0002-0002-0002-000000000005",
      "name": "Preparar registro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://rentacar-crm.vercel.app/api/webhooks/seguimientos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "x-ingest-secret", "value": "523c0b36e3ba4e19c7dbf73de8aab80fcdb5bcbb48422977" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": {{ $json.id }},\n  \"estado\": \"enviado\"\n}",
        "options": {}
      },
      "id": "s1a2b3c4-0002-0002-0002-000000000006",
      "name": "Marcar como enviado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1440, 300]
    }
  ],
  "connections": {
    "Todos los días 9am": { "main": [[{ "node": "Consultar seguimientos pendientes", "type": "main", "index": 0 }]] },
    "Consultar seguimientos pendientes": { "main": [[{ "node": "Separar uno por uno", "type": "main", "index": 0 }]] },
    "Separar uno por uno": { "main": [[{ "node": "Enviar seguimiento", "type": "main", "index": 0 }]] },
    "Enviar seguimiento": { "main": [[{ "node": "Preparar registro", "type": "main", "index": 0 }]] },
    "Preparar registro": { "main": [[{ "node": "Marcar como enviado", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
